@charset "UTF-8";
/*Este CSS é usado pelos iframes na section Redes*/
* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

img {
    width: 100vw;
}